.cusoptions_wrap {
    padding-top: 0px;
    width: 393px;
    height: 1830px;

    .header {
        width: 392px;
        height: 78px;
        background-color: var(--header);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 23px;
        backdrop-filter: blur(32.5px);
        box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.1);

        .back_btn {
            width: 9px;
            height: 18px;
        }

        .right_btns {

            .qr,
            .trans {
                width: 22px;
                height: 22px;
            }
        }
    }

    .cp_main {
        padding: 0 20px;

        h1 {
            color: var(--blue01);
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 28px
        }

        .opts {
            width: 350px;
            height: 146px;
            background-color: var(--white);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
            border-radius: 14px;
            padding: 0px 21px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            &.selected {
                background-color: var(--blue03);
            }

            .opts_left {
                min-width: 0;
                flex: 1 1 auto;

                .title {
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 8px;
                    margin-bottom: 30px;
                }

                .icon {
                    width: 40px;
                    height: 40px;
                }

                .icon3 {
                    width: 35px;
                    height: 45px;
                }

                .icon4 {
                    width: 31px;
                    height: 47px;
                }
            }

            .opts_right .add {
                white-space: nowrap;
                flex: 0 0 56px;
                width: 56px;
                height: 31px;
                background-color: var(--blue01);
                color: var(--white);
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -50px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
            }
        }

        .cart {
            width: 314px;
            height: 46px;
            background-color: var(--white);
            border: solid 1px var(--blue01);
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0 27px;
            margin-top: 60px;

            .cart_left {
                display: block;
                font-size: 24px;
                font-weight: 600;
            }

            .cart_right {
                display: block;
                font-size: 24px;
                font-weight: 600;
                color: var(--blue02);
                left: -20px;
                position: relative;
            }
        }
    }
}