.Menu_wrap{
    width: 393px;
    height: 852px;
    align-items: center;
    margin: 0 auto;
    background-color: #F5F5F5;

    .Menu1_wrap{

        .video-camera{
            width: 312px;
            height: 417px;
            margin-left: 40px;
            margin-top: 36px;
            border-radius: 17px;
            object-fit: cover;

        }
        



        .nav{
            height: 78px;
            background-color: #B3E8FF;
            display: flex;
            position: relative;
            background-color: rgba(179, 232, 255, 0.3); 
            backdrop-filter: blur(32.5px);
            -webkit-backdrop-filter: blur(32.5px);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1); 

            .vector{
                position: absolute;
                cursor: pointer;
                padding: 16px;
                margin-top: 18px;
                z-index: 10;
            }

            .function{
                display: flex;
                padding: 16px;
                margin-top: 14.9px;
                padding-left: 316px;
                position: relative;

                img{
                width: 30px;
                height: 30px;
                }

                .function1{
                    padding-right: 8px;
 
                }
            }
        }

        .Menu_name{
            text-align: center;

            h2{
                font-size: 16px;
                color: #5BC0EB;
                font-weight: 600;
                padding-top: 16px;
            }

            h1{
                font-size: 32px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
        }

        .Menu_detail{
            img{
                padding-top: 25px;
                width: 292px;
                margin-left: 50px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: #333333;
                font-weight: 400;
                margin-top: 16px;
            }
        }

        .detail_box {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button {
                background-color: #ffffff; 
                border: 1px solid #5BC0EB;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                }

                &:hover {
                background-color: #5BC0EB;
                }

                &.selected {
                background-color: #5BC0EB;
                

                p {
                    color: white;
                }
                }
            }

            .detail_1 {
                width: 135px;
                height: 30px;
            }

            .detail_2 {
                width: 89px;
                height: 30px;
                margin-left: 20px;
            }
            }


            .quantity {
                display: flex;
                justify-content: center;

                .quantity_count{
                margin-top: 25px;
                border: 1px solid #0C6186;
                border-radius: 10px;
                padding: 10px 20px;
                width: 84px;
                height: 60px;
                text-align: center;
                background: #FFFFFF;

                > span {
                    display: block;
                    font-weight: 600;
                    color: #333333;
                }

                div {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;

                    button {
                        border: none;
                        background: none;
                        font-size: 16px;
                        color: #333333;

                        &:hover {
                            color: #0C6186;
                        }
                    }
                }
            }

            .order_list{
                button{
                display: flex;
                position: relative;
                width: 212px;
                margin: 12px;
                }

                img{
                    margin-left: 0;
                    padding-top: 0;
                    margin-top: 16px;
                }
                
            }
        
        }
        
        .shop{
            position: relative;
            left: 230px;
        }

        .shopping{
            position: relative;
            left: 300px;
            top: -72px;
        }

    }


    .Menu2_wrap{
        
        .nav{
            height: 78px;
            background-color: #B3E8FF;
            display: flex;
            position: relative;
            background-color: rgba(179, 232, 255, 0.3); 
            backdrop-filter: blur(32.5px);
            -webkit-backdrop-filter: blur(32.5px);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1); 

            .vector{
                position: absolute;
                cursor: pointer;
                padding: 16px;
                margin-top: 18px;
                z-index: 10;
            }

            .function{
                display: flex;
                padding: 16px;
                margin-top: 14.9px;
                padding-left: 316px;
                position: relative;

                img{
                width: 30px;
                height: 30px;
                }

                .function1{
                    padding-right: 8px;
 
                }
            }
        }

        .Menu_name{
            text-align: center;

            h2{
                font-size: 16px;
                color: #5BC0EB;
                font-weight: 600;
                padding-top: 16px;
            }

            h1{
                font-size: 32px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
        }

        .Menu_detail{
            img{
                padding-top: 25px;
                width: 292px;
                margin-left: 50px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: #333333;
                font-weight: 400;
                margin-top: 16px;
            }
        }

        .detail_box {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button {
                background-color: #ffffff; 
                border: 1px solid #5BC0EB;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                }

                &:hover {
                background-color: #5BC0EB;
                }

                &.selected {
                background-color: #5BC0EB;
                

                p {
                    color: white;
                }
                }
            }

            .detail_1 {
                width: 135px;
                height: 30px;
            }

            .detail_2 {
                width: 89px;
                height: 30px;
                margin-left: 20px;
            }
            }


            .quantity {
                display: flex;
                justify-content: center;

                .quantity_count{
                margin-top: 25px;
                border: 1px solid #0C6186;
                border-radius: 10px;
                padding: 10px 20px;
                width: 84px;
                height: 60px;
                text-align: center;
                background: #FFFFFF;

                > span {
                    display: block;
                    font-weight: 600;
                    color: #333333;
                }

                div {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;

                    button {
                        border: none;
                        background: none;
                        font-size: 16px;
                        color: #333333;

                        &:hover {
                            color: #0C6186;
                        }
                    }
                }
            }

            .order_list{
                button{
                display: flex;
                position: relative;
                width: 212px;
                margin: 12px;
                }

                img{
                    margin-left: 0;
                    padding-top: 0;
                    margin-top: 16px;
                }
                
            }
        
        }
        
        .shop{
            position: relative;
            left: 230px;
        }

        .shopping{
            position: relative;
            left: 300px;
            top: -72px;
        }

    }

    .Menu3_wrap{
        
        .nav{
            height: 78px;
            background-color: #B3E8FF;
            display: flex;
            position: relative;
            background-color: rgba(179, 232, 255, 0.3); 
            backdrop-filter: blur(32.5px);
            -webkit-backdrop-filter: blur(32.5px);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1); 

            .vector{
                position: absolute;
                cursor: pointer;
                padding: 16px;
                margin-top: 18px;
                z-index: 10;
            }

            .function{
                display: flex;
                padding: 16px;
                margin-top: 14.9px;
                padding-left: 316px;
                position: relative;

                img{
                width: 30px;
                height: 30px;
                }

                .function1{
                    padding-right: 8px;
 
                }
            }
        }

        .Menu_name{
            text-align: center;

            h2{
                font-size: 16px;
                color: #5BC0EB;
                font-weight: 600;
                padding-top: 16px;
            }

            h1{
                font-size: 32px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
        }

        .Menu_detail{
            img{
                padding-top: 25px;
                width: 292px;
                margin-left: 50px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: #333333;
                font-weight: 400;
                margin-top: 16px;
            }
        }

        .detail_box {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button {
                background-color: #ffffff; 
                border: 1px solid #5BC0EB;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                }

                &:hover {
                background-color: #5BC0EB;
                }

                &.selected {
                background-color: #5BC0EB;
                

                p {
                    color: white;
                }
                }
            }

            .detail_1 {
                width: 135px;
                height: 30px;
            }

            .detail_2 {
                width: 89px;
                height: 30px;
                margin-left: 20px;
            }
            }


            .quantity {
                display: flex;
                justify-content: center;

                .quantity_count{
                margin-top: 25px;
                border: 1px solid #0C6186;
                border-radius: 10px;
                padding: 10px 20px;
                width: 84px;
                height: 60px;
                text-align: center;
                background: #FFFFFF;

                > span {
                    display: block;
                    font-weight: 600;
                    color: #333333;
                }

                div {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;

                    button {
                        border: none;
                        background: none;
                        font-size: 16px;
                        color: #333333;

                        &:hover {
                            color: #0C6186;
                        }
                    }
                }
            }

            .order_list{
                button{
                display: flex;
                position: relative;
                width: 212px;
                margin: 12px;
                }

                img{
                    margin-left: 0;
                    padding-top: 0;
                    margin-top: 16px;
                }
                
            }
        
        }
        
        .shop{
            position: relative;
            left: 230px;
        }

        .shopping{
            position: relative;
            left: 300px;
            top: -72px;
        }

    }

    .Menu4_wrap{
        
        .nav{
            height: 78px;
            background-color: #B3E8FF;
            display: flex;
            position: relative;
            background-color: rgba(179, 232, 255, 0.3); 
            backdrop-filter: blur(32.5px);
            -webkit-backdrop-filter: blur(32.5px);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1); 

            .vector{
                position: absolute;
                cursor: pointer;
                padding: 16px;
                margin-top: 18px;
                z-index: 10;
            }

            .function{
                display: flex;
                padding: 16px;
                margin-top: 14.9px;
                padding-left: 316px;
                position: relative;

                img{
                width: 30px;
                height: 30px;
                }

                .function1{
                    padding-right: 8px;
 
                }
            }
        }

        .Menu_name{
            text-align: center;

            h2{
                font-size: 16px;
                color: #5BC0EB;
                font-weight: 600;
                padding-top: 16px;
            }

            h1{
                font-size: 32px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
        }

        .Menu_detail{
            img{
                padding-top: 25px;
                width: 292px;
                margin-left: 50px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: #333333;
                font-weight: 400;
                margin-top: 16px;
            }
        }

        .detail_box {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button {
                background-color: #ffffff; 
                border: 1px solid #5BC0EB;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                }

                &:hover {
                background-color: #5BC0EB;
                }

                &.selected {
                background-color: #5BC0EB;
                

                p {
                    color: white;
                }
                }
            }

            .detail_1 {
                width: 90px;
                height: 30px;
            }

            .detail_2 {
                width: 89px;
                height: 30px;
                margin-left: 20px;
            }
            }


            .quantity {
                display: flex;
                justify-content: center;

                .quantity_count{
                margin-top: 25px;
                border: 1px solid #0C6186;
                border-radius: 10px;
                padding: 10px 20px;
                width: 84px;
                height: 60px;
                text-align: center;
                background: #FFFFFF;

                > span {
                    display: block;
                    font-weight: 600;
                    color: #333333;
                }

                div {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;

                    button {
                        border: none;
                        background: none;
                        font-size: 16px;
                        color: #333333;

                        &:hover {
                            color: #0C6186;
                        }
                    }
                }
            }

            .order_list{
                button{
                display: flex;
                position: relative;
                width: 212px;
                margin: 12px;
                }

                img{
                    margin-left: 0;
                    padding-top: 0;
                    margin-top: 16px;
                }
                
            }
        
        }
        
        .shop{
            position: relative;
            left: 230px;
        }

        .shopping{
            position: relative;
            left: 300px;
            top: -72px;
        }

    }


    .Menu5_wrap{
        
        .nav{
            height: 78px;
            background-color: #B3E8FF;
            display: flex;
            position: relative;
            background-color: rgba(179, 232, 255, 0.3); 
            backdrop-filter: blur(32.5px);
            -webkit-backdrop-filter: blur(32.5px);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1); 

            .vector{
                position: absolute;
                cursor: pointer;
                padding: 16px;
                margin-top: 18px;
                z-index: 10;
            }

            .function{
                display: flex;
                padding: 16px;
                margin-top: 14.9px;
                padding-left: 316px;
                position: relative;

                img{
                width: 30px;
                height: 30px;
                }

                .function1{
                    padding-right: 8px;
 
                }
            }
        }

        .Menu_name{
            text-align: center;

            h2{
                font-size: 16px;
                color: #5BC0EB;
                font-weight: 600;
                padding-top: 16px;
            }

            h1{
                font-size: 32px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: #333333;
                padding-top: 16px;
            }
        }

        .Menu_detail{
            img{
                padding-top: 25px;
                width: 292px;
                margin-left: 50px;
            }

            p{
                font-size: 20px;
                text-align: center;
                color: #333333;
                font-weight: 400;
                margin-top: 16px;
            }
        }

        .detail_box {
            display: flex;
            justify-content: center;
            margin-top: 25px;

            button {
                background-color: #ffffff; 
                border: 1px solid #5BC0EB;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                }

                &:hover {
                background-color: #5BC0EB;
                }

                &.selected {
                background-color: #5BC0EB;
                

                p {
                    color: white;
                }
                }
            }

            .detail_1 {
                width: 90px;
                height: 30px;
            }

            .detail_2 {
                width: 89px;
                height: 30px;
                margin-left: 20px;
            }
            }


            .quantity {
                display: flex;
                justify-content: center;

                .quantity_count{
                margin-top: 25px;
                border: 1px solid #0C6186;
                border-radius: 10px;
                padding: 10px 20px;
                width: 84px;
                height: 60px;
                text-align: center;
                background: #FFFFFF;

                > span {
                    display: block;
                    font-weight: 600;
                    color: #333333;
                }

                div {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;

                    button {
                        border: none;
                        background: none;
                        font-size: 16px;
                        color: #333333;

                        &:hover {
                            color: #0C6186;
                        }
                    }
                }
            }

            .order_list{
                button{
                display: flex;
                position: relative;
                width: 212px;
                margin: 12px;
                }

                img{
                    margin-left: 0;
                    padding-top: 0;
                    margin-top: 16px;
                }
                
            }
        
        }
        
        .shop{
            position: relative;
            left: 230px;
        }

        .shopping{
            position: relative;
            left: 300px;
            top: -72px;
        }

    }

}