.ownerhomef_wrap {
    width: 395px;
    background-color: var(--body);
    padding-top: 0px;

    .header {
        position: relative;
        width: 392px;
        height: 78px;
        background-color: var(--header);
        padding: 0 22px;

        .qr {
            position: absolute;
            top: 37px;
            right: 22px;
        }

    }

    .text {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 16px;
            color: var(--blue01);
            margin-top: 15px;
            font-weight: 600;
        }

        h2 {
            font-size: 32px;
            color: var(--black);
            margin-top: 10px;
            font-weight: 600;
        }

        .on {
            width: 52px;
            height: 28px;
            background-color: var(--blue01);
            color: var(--body);
            font-size: 12px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            margin-top: 10px;
        }
    }

    .table_list {
        padding: 0 22px;

        h1 {
            font-size: 20px;
            font-weight: 600;
            color: var(--blue01);
            margin-top: 27px;
        }

        .table {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 350px;
            height: 155px;
            background-color: var(--white);
            box-shadow: 0 0 7.4px rgba(0, 0, 0, 0.1);
            border-radius: 14px;
            padding: 0 19px;
            transition: height .25s ease;
            overflow: hidden;

            .table_left {
                flex: 1;

                .num {
                    display: block;
                    font-size: 20px;
                    color: var(--black);
                    margin-bottom: 10px;
                }

                .menu {
                    margin-bottom: 10px;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--black);
                        margin-bottom: 2px;
                    }
                }

                .cnum {
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--blue02);
                }
            }

            .table_right {
                .open {
                    width: 62px;
                    height: 31px;
                    background-color: var(--blue01);
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    color: var(--white);
                    border-radius: 40px;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 50px;
                }

                .close {
                    font-size: 16px;
                    font-weight: 500;
                    width: 62px;
                    height: 31px;
                    background-color: #FF9696;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    color: var(--white);
                    border-radius: 40px;
                }
            }

            .orders_area {
                display: none;
                width: 100%;
                margin-top: 12px;
            }
        }

        .table.is-open {
            height: 417px;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-top: 16px;

            .orders_area {
                display: block;
            }
        }

        .order_card {
            width: 100%;
            min-height: 117px;
            background-color: var(--blue03);
            border-radius: 14px;
            box-shadow: 0 0 7.4px rgba(0, 0, 0, 0.1);
            padding: 0 16px;
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--blue02);

            .title {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.3;
            }

            .desc {
                margin-top: 25px;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.35;
            }
        }
    }

    .trend_section {
        padding: 0 22px;

        .sec_title {
            font-size: 20px;
            font-weight: 600;
            color: var(--blue01);
            margin: 32px 0 40px;
        }

        .rank {
            padding: 0 22px;
            margin-left: -22px;

            .rank_first {
                display: flex;
                align-items: center;

                .rnum {
                    font-size: 40px;
                    font-weight: 600;
                    color: var(--blue01);
                    margin-right: 16px;
                    margin-top: -10px;
                }

                .rank_line {
                    width: 277px;
                    height: 48px;
                    background-color: var(--blue01);
                    color: var(--white);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 13px;
                    text-align: right;
                    gap: 8px;
                    box-shadow: 0 0 7.4px rgba(0, 0, 0, 0.1);

                    .country {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1;
                    }

                    .percent {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }

            .rank_second {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .rnum {
                    font-size: 40px;
                    font-weight: 600;
                    color: var(--blue01);
                    margin-right: 16px;
                    margin-top: -10px;
                }

                .rank_line {
                    width: 141px;
                    height: 48px;
                    background-color: #93DFFF;
                    color: var(--white);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 13px;
                    text-align: right;
                    gap: 8px;
                    box-shadow: 0 0 7.4px rgba(0, 0, 0, 0.1);

                    .country {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 1;
                    }

                    .percent {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }

            .rank_third {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .rnum {
                    font-size: 40px;
                    font-weight: 600;
                    color: var(--blue01);
                    margin-right: 16px;
                    margin-top: -10px;
                }

                .rank_line {
                    width: 53px;
                    height: 48px;
                    background-color: #1A95C9;
                    border-radius: 10px;
                    box-shadow: 0 0 7.4px rgba(0, 0, 0, 0.1);
                    margin-right: 12px;
                }

                .country {
                    color: #1A95C9;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1;
                    margin-right: 8px;
                }

                .percent {
                    color: #1A95C9;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1;
                }
            }

        }
    }

    .sub_title {
        font-size: 20px;
        color: var(--blue02);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 10px;
    }

    .slider_footer {
        display: flex;
        justify-content: center;
        margin: 27px 0 24px;
    }

    .dots {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .dot {
        width: 8px;
        height: 8px;
        border: 0;
        border-radius: 50%;
        background: #2f3a45;
        opacity: 0.9;
        cursor: pointer;
        box-shadow: 0 0 7.4px rgba(0, 0, 0, 0.1);
    }

    .dot.active {
        width: 26px;
        height: 10px;
        border-radius: 9999px;
        background: var(--blue01);
    }

}